[dir-config]
scripts_dir=/informatica/ia2/MMRGROUP/MMR-Coop/tools/apache-tomcat-7.0.70/webapps/python/youtubeapi/data-api/bin
keys_dir=/informatica/ia2/MMRGROUP/MMR-Coop/tools/apache-tomcat-7.0.70/webapps/python/youtubeapi/data-api/keys
reports_dir=/informatica/ia2/MMRGROUP/MMR-Coop/tools/apache-tomcat-7.0.70/webapps/python/youtubeapi/data-api/reports
logs_dir=/informatica/ia2/MMRGROUP/MMR-Coop/tools/apache-tomcat-7.0.70/webapps/python/youtubeapi/data-api/logs
temp_dir=/informatica/ia2/MMRGROUP/MMR-Coop/tools/apache-tomcat-7.0.70/webapps/python/youtubeapi/data-api/temp

[apikey-config]
api_key_latam=AIzaSyDmObhY6Ew4X_azMhNh05afF4i554qhcBM
api_key_apac=AIzaSyD3nmCMWzHzzJMeTTC0MKyVo8Og84n_KOA
api_key_emea=AIzaSyD_-vFreJzUbncyVk1pD_bXrPUDVJ5ajW4
